
body { 
    margin: 0px;
    width: 100%;
    background-color: #FFFAEE;

}

/* Navigation */
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    display: flex;
    justify-content: center;
    align-content: center;
}
nav {
    width: 100%;
    text-align: center;
}
nav li {
 padding: 50px;
 font-family: fairfax;
 font-size: 20px;
 font-weight: 90;
}
nav ul {
    /* width: 100%; */
    /* margin-left: auto; */
    margin: 5px;
    padding: 0px;
}

/* Hero Section */
.heroImg {
    height: 500px;
    /* padding: 25px; */
}
.content {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 5px;
}

.wenli img {
    width: 300px;
    height: 300px;
}

/* Footer Section */
footer {
    width: 100%;
}
footer ul {
    /* display: inline-block; */
    vertical-align: top;
    text-align: center;
}
footer li {
    padding: 10px;
}

h1 {
    text-align: center;
    font-family: fairfax;
    font-weight: 100;
}

ul {
    display: flex;
    justify-content: center;
    align-content: center;
}

/* FONTS */
@font-face {
    font-family: fairfax;
    src: url(/fonts/fairfax.ttf);
  }